<div style="margin-top: 3%;">
     <div class="container">
         <div class="row">
             <div class="col">
                 <div class="card" style="color: #008000;">
                     <label id="value_lable">
                         <div class="card-header">
                             <h5 style="font-size:30px">&#128516; Success</h5>
                         </div>
                         <div class="catd-body">
                             {{ data.data }}
                         </div>
                     </label>
                 </div>
             </div>
         </div>
     </div>
 </div>

